.contact {
  padding-top: 13vh;
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #cbc9ff, #e1ffea22 60%);
}
.contactForm {
  /* box-shadow: 0 1px 3px -2px black;
  background: whitesmoke;
  padding: 10px;
  margin-top: 40px; */
  width: 50%;
  align-items: start;
}

@media screen and (max-width: 1024px) {
  .contactForm {
    width: 70%;
  }
}

.contactForm input,
textarea {
  padding: 15px;
  align-items: start;
  margin: 10px;
  text-decoration: none;
  /* border: 1px solid #444; */

  font-size: 12px;
}
.contact textarea {
  height: 50px;
}
.contact h4 {
  justify-content: center;
  text-decoration: none;
  color: #626262;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
}
.contact p {
  justify-content: center;
  text-decoration: none;
  color: #626262;
  font-size: 10px;
  /* font-weight: 700; */
  margin: 10px;
}
.first-row {
  display: flex;
  width: 100%;
}
.first-row input {
  width: 100%;
}
.second-row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.submit-input {
  background: #0f0f0f;
  outline: none;
  color: whitesmoke;
  width: 90px;
  cursor: pointer;
  border: 1px solid #626262;
  transition: 0.3s;
}
.submit-input:active {
  background: #626262;
}

hr.solid {
  border-top: 3px solid #b8b8b8;
  width: 90%;
}
