.shop {
  padding-top: 13vh;
  /* margin-top: 10vh; */
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #cbc9ff, #e1ffea22 60%);
  padding-bottom: 10vh;
}
.shop h1 {
  justify-content: center;
}
.shop-electronics {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.section-title {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.shop-games {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
shop-games h2 {
}
.product-list {
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.shopping-card {
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  border: black;
  width: 17rem;
}
.card {
  margin: 20px;
  border: 2px solid #ededed;
  padding: 20px;
  background: #ffffff;
}

.card img {
  width: 13rem;
  height: 200px;
  margin-bottom: 1rem;
}
.card-title {
  margin-bottom: 1rem;
  height: 65px;
}
.card button {
  width: 70px;
  height: 28px;
  border: 1px solid #7a7a7a;
  border-radius: 2px;
  font-size: 17px;
  background: white;
  cursor: pointer;
  /* transition: 0.3s; */
}
.card button:active {
  background: #d0d9ff;
}

hr.solid {
  border-top: 3px solid #b8b8b8;
  width: 90%;
}
.shop-cart {
  min-height: 100vh;
  padding: 50px;
  padding-top: 13vh;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%); */
  background: linear-gradient(180deg, #cbc9ff, #e1ffea22 60%);

  display: flex;
  flex-direction: column;
}
.shop-cart table {
  width: 100%;
  background: white;
}
.table-button {
  box-shadow: 0;
}
.shop-cart table,
th,
td {
  box-shadow: 0 1px 3px -2px black;
  text-align: center;
}

.shop-cart th {
  font-family: "poppins";
  font-weight: 600;
  color: gray;
}
.shop-cart td {
  font-family: "poppins";
  font-weight: 500;
}

.shop-cart img {
  width: 60px;
  height: 60px;
}
.cart-product {
  display: flex;
}
.cart-product ul {
  align-items: center;
  /* justify-content: space-around; */
  box-shadow: 0 1px 3px -2px black;
  width: 80%;
  display: flex;
}
.cart-product li {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 30px;
}
.table-button {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  font-family: poppins;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  background: #1b46ff;
  outline: none;
  border-radius: 16px;
  color: #ececec;
}
.table-button:active {
  background: #d0d9ff;
}
.product-quantity-btn {
  margin: 10px;
  width: 20px;
  height: 20px;
  font-family: poppins;
  font-size: 8px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border-radius: 16px;
  color: gray;
}
@media screen and (max-width: 500px) {
  .quantity {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

body.active-modal {
  overflow-y: hidden;
}
.modal-buttons {
  display: flex;
  justify-content: space-around;
}
.modal-buttons button {
  width: 100px;
  height: 40px;
}
.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.finalize,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: white;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.finalize {
  display: flex;
  justify-content: center;
  align-items: center;
}
.finalize img {
  width: 40%;
  padding-bottom: 50px;
}

.finalize-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: white;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop--searchbar {
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  border: none;
}
