
.hero {
  height: 100vh;
  display: flex;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}
.hero-left{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  gap:20px;
  padding-left:140px;
  line-height:1.1;
}
.hero-right{
  flex:1;
  display:flex;
  align-items:center;
  justify-content:center;
  padding-right:40px;
  /* width:30%; */
  /* padding:80px; */
 
}
.hero-right img{
  width:100%;
}

.hero-latest-btn{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:15px;
  width:250px;
  height:70px;
  border-radius:75px;
  margin-top:30px;
  background:#ff4141;
  color:white;
  font-size:22px;
  font-weight:500;
}
.hero-latest-btn:active{
  background:#ff7141;
}
.nav-link {
  text-decoration: none;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .hero-left{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:20px;
    padding-left:50px;
    line-height:1.1;
  }
  .hero-latest-btn{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    width:250px;
    height:70px;
    border-radius:75px;
    margin-top:30px;
    background:#ff4141;
    color:white;
    font-size:22px;
    font-weight:500;
  }

}

.Login{
  margin-top:5vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  /* margin-left:5vh; */
  width:45%;
  height:80vh;
  color:white;
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  background:#1b2430;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(123, 189, 255, 0.3);
  font-family: 'Brush Script MT', cursive;
}
.Login input{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  outline:none;
  border:1px solid rgba(123, 189, 255, 1);
  border-radius:16px;
}
.Login input::placeholder{
  color:white;
}

.userForm{
  text-align: center;
  
}
.menu-button{
  margin-bottom:20px;
  width:90%;
  padding: 10px 20px;
  border-radius:16px;
  cursor: pointer; 
  background: rgba(123, 189, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(123, 189, 255, 0.3);
}
@media screen and (max-width: 768px) {
  .menu-button {
    width: 70%; 
    padding: 12px; 
    margin-bottom: 10px;
  }
}
.menu-button:hover {
  background: rgba(255, 255, 255, 0.4); 
}
.contact{
    align-items:center;
    height: 100vh;
    display: flex;
    flex-direction:column;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}
.contact h1{
  justify-content:center;
}